*.iml
.gradle
/.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetSelector.xml

# Android release signing secrets
*.jks
*.keystore
*.p12
*.pfx
keystore.properties
signing.properties
*.signing.properties
